body{
    background-image: url(/img/fondo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navbar{
    /*background-color: #333;
    overflow: hidden;*/
    border-bottom: 12px solid rgba(191, 4, 98, 0.5);
}

.container-fluid{
    position: relative;
    z-index: 1;
}

.btn-agregarp{
    background: #603C9D !important;
    color: #ffff;
}