    body, html {
      height: 100%;
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background-color: #2B0048;
    }
    
    .form-side {
      background-color: #2B0048;
      color: white;
      min-height: 100vh;
      padding: 40px 10px;
      position: relative;
    }
    
    .form-box {
      background-color: rgba(96, 43, 132, 0.567);
      padding: 30px;
      border-radius: 15px;
      width: 100%;
      max-width: 600px;   
      margin: 0 auto;
    }
    
    .form-box .form-floating {
      max-width: 500px;   
      margin-left: auto;
      margin-right: auto;
    }

    .form-control {
      border-radius: 50px;
      background-color: #f8f9fa;
    }
    
    .form-control::placeholder {
      color: #aaa;
    }
    
    .btn-login {
      background-color: #5800a1;
      color: white;
      border-radius: 25px;
      padding: 10px;
      font-weight: bold;
      max-width: 250px;      
      width: 100%;           
      margin-left: auto;
      margin-right: auto;
      display: block;        
    }
    
    .btn-login:hover {
      background-color: #603C9D;
    }
    
    .image-side {
      min-height: 100vh;
      background-image: url('img/Fondo.jpeg');
      background-size: cover;
      background-position: center;
    }
    
    .logo {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 100px;
      height: auto;
    }
    
    .login-title {
      margin: 10px;
      font-size: 24px;
      font-weight: bold;
    }
    
    .login-avatar {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: contain;
    }
    
